* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #f3f5f7;
}

.content_box {
    width: 1200px;
    margin: 0 auto;
    /* public elements */

}

.header {

    height: 42px;
    margin: 30px auto;


}

.nav li {
    float: left;
    list-style: none;
    margin: 0 5px;
}

.nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    line-height: 42px;
}

.nav li a:hover {

    color: rgb(64, 155, 235);
    border-bottom: 3px solid rgb(64, 155, 235);

    /* if you want to use bottom line, it is better to use border buttom */
}

.logo {
    float: left;
    height: 42px;
    width: 198px;

}

.nav {
    float: left;
    margin-left: 40px;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 50px;
}

.search input {
    float: left;
    display: block;
    height: 40px;
    width: 360px;
    border: 1px solid rgb(64, 155, 235);
}

.search button {
    float: left;
    background: url(btn.png) no-repeat;
    height: 42px;
    width: 50px;
    cursor: pointer;
}

.user img {
    float: left;
    display: block;
    padding-top: 5.5px;
    margin-left: 20px;
    cursor: pointer;
}


.user p {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    padding-left: 10px;
    line-height: 42px;

}




.banner {
    height: 421px;
    background-color: blue;
}

.banner .w {
    background: url(banner.png) no-repeat top center;
    height: 420px;
    width: 1200px;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    display: block;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;

}

.subnav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

.subnav a:hover {
    color: skyblue;
}

.subnav ul li a span {
    float: right;
}

.right {
    float: right;
    width: 228px;
    height: 300px;
    background-color: white;
    margin: 50px 40px;
}

.topbox {
    display: block;
    width: 228px;
    height: 50px;
    background-color: skyblue;
    border-bottom: 1px solid grey;
}

.topbox h3 {
    color: white;
    line-height: 50px;
    text-align: center;
}

.downbox {
    width: 228px;
    height: 250px;
    padding: 0 20px;

}

.downbox ul li {
    list-style: none;
    height: 38px;
    width: 180px;
    padding: 12px 0;
}

.downbox ul li h4 {
    color: black;
}

.downbox ul li p {
    color: grey;
    border-bottom: 1px solid rgb(208, 206, 206);
}

.downbox .more {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: skyblue;
    border: 1px solid skyblue;
    font-weight: 700;
    text-decoration: none;

}

.subnav_bar {
    margin-top: 10px;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);

}

.subnav_bar li {
    float: left;
    display: block;
    list-style: none;
    line-height: 60px;

}

.subnav_bar li h3 {
    color: blue;
    margin-left: 20px;
    margin-right: 30px;
}

.subnav_bar li a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
    border-left: 1px solid grey;
}

.subnav_bar .mod {
    float: right;
    line-height: 60px;
    margin-right: 30px;
    color: blue;
    text-decoration: none;
}

.main_header {
    height: 60px;
    line-height: 60px;
}

.main_header h3 {
    float: left;
    margin-left: 20px;

}

.main_header a {
    float: right;
    color: grey;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;

}

.box {
    height: 600px;
    margin-top: 20px;
}

.main_header {
    height: 60px;
    line-height: 60px;
}

.main_header h3 {
    float: left;
}

.main_header a {
    float: right;
    color: grey;
    text-decoration: none;
    font-weight: 400;
}

.main {
    float: left;
}

.main ul {
    width: 1225px;
}

.main ul li {
    float: left;
    display: block;
    position: relative;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 270px;
    width: 228px;
    background-color: white;
}

.main .hot {
    position: absolute;
    background: url(hot.png) no-repeat;
    width: 40px;
    height: 24px;
    right: -5px;
    top: 10px;

}

.main ul li a {
    display: block;
    height: 270px;
    width: 233px;
    text-decoration: none;


}

.main ul li h4 {

    display: block;
    margin: 20px 15px;

}

.main ul li h5 {

    display: inline-block;
    margin: 5px 15px;
    color: red;
}

.main ul li span {
    font-size: smaller;


}

.footer {
    height: 415px;
    background-color: white;
    margin-top: 40px;
}

.box_left {
    float: left;
    display: block;
    height: 150px;
    width: 500px;
    padding-left: 10px;
}

.box_left img {
    padding-top: 20px;
}

.box_left p {
    margin-top: 10px;
    color: grey;

}

.box_left .download {
    display: block;
    height: 50px;
    width: 150px;
    border: 1px solid skyblue;
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
}

.box_right {
    float: right;
    display: block;
    height: 150px;
    width: 600px;
    padding-right: 10px;
    margin-top: 20px;

}

.box_right a {
    text-decoration: none;
}

.right1 {
    float: right;
    margin-right: 30px;
    color: grey;

}

.right1 li {
    list-style: none;
    text-decoration: none;

    font-weight: 300;
    margin: 10px 0;

}

.right2 {
    float: right;
    margin-right: 30px;
    color: grey;
}

.right2 li {
    list-style: none;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 300;
}

.right3 {
    float: right;
    margin-right: 30px;
    color: grey;
}

.right3 li {
    list-style: none;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 300;
}

/* css default format 
1: layout and postion attribute
2: self attribute (color height margin padding)
3: text attribute
4：css3 content*/

/* .div {
    display: block;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: aliceblue;
    border: 1px solid beige;
} */